<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/frank-theme.min.css" />
    <link rel="stylesheet" href="css/jquery.mobile.structure-1.4.5.min.css" />
    <link rel="stylesheet" href="css/jquery.mobile.icons-1.4.5.min.css" />
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>

</head>

<body>

<div data-role="page" id="home">

    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Exception Errors</h1>
    </div>

    <div data-role="content" data-theme="a">
        <ol data-role="listview">
            <li th:text="ex.message"></li>
            <li th:text="url"></li>
        </ol>
    </div>

</div>

<div data-role="footer" data-theme="a">
    <h5><small>&copy; digitalPilgrim 2016 Ltd</small></h5>
</div>


</body>
</html>